{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    table {
        text-align:center;
    }
    tr td {
        text-align: center;
        height:100px;
        line-height:100px;
    }
    input[type=number]:hover::-webkit-inner-spin-button {
        width: 14px;
        height:35px;
    }
</style>
<div class="container">
    <h2>장바구니</h2>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>선택</th>
            <th style="width: 150px;">이미지</th>
            <th>상품명</th>
            <th>가격</th>
            <th>수량</th>
            <th>합계</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td><input type="checkbox" name="chk"></td>
            <td><img style="width:150px; height:100px;" src="{{ item.product.image.url }}"></td>
            <td class="name">{{ item.product.name }}</td>
            <td class="price">{{ item.product.price }}</td>
            <td><input type="number" class="quantity" min="1" value="{{ item.quantity }}" style="width: 100px; height: 35px; line-height: 35px;"></td>
            <td class="amount">{{ item.sub_total }}</td>
            <input type="hidden" class="stock" value="{{ item.product.stock }}">
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div style="width: 400px; float: right; margin-right: 200px;">
    <button type="button" class="btn btn-dark" onClick="delRow();">선택상품삭제</button>
    <button type="button" class="btn btn-dark">장바구니비우기</button>
</div>

<script>
    function delRow(){
        var $obj = $("input[name='chk']");
        var checkCount = $obj.size();
        if($("input[name='chk']:checked").length===0){
            alert("삭제할 상품을 선택해주세요.");
        }
        else{
            for (var i=0; i<checkCount; i++){
                if($obj.eq(i).is(":checked")){
                    $obj.eq(i).parent().parent().remove();
                }
            }
        }
    };

    $('.quantity').bind('change', function() {
	    var proName = $(this).parent().prev().prev().text();
	    var proPrice = $(this).parent().prev().text();
	    var proQuantity = $(this).val();
	    var proAmount = $(this).parent().next().text();
	    var stock = $(this).parent().next().next().val();
        var proPrice = Number(proPrice);
        var proQuantity = Number(proQuantity);

        console.log(proQuantity);
        console.log(proPrice);
        console.log($(proAmount).val(proQuantity*proPrice));
        console.log(proQuantity*proPrice);


	    if (proQuantity > stock ){
	        $(this).attr('value', stock);
            alert("재고가 더 이상 없습니다.");
	    };
    });

</script>
{% endblock %}