{% extends 'base.html' %}
{% load static %}
{% block title %}
    {% if product %}
        {{ product.name }} - SWOON
    {% else %}
        SWOON SHOP
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
        <div class="row mx-auto">
            {% for product in object_list %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
                <div class="card text-center testDiv" style="min-width: 300px; max-height: 300px;">
                    <a id="test1" href="{% url 'product:product_detail' product.id %}"><img id="test" class="card-img-top my_image" src="{{ product.image.url }}" alt="{{ product.name }}" style="min-height: 200px; max-height: 200px;"></a>
                    <div class="card-body" >
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.price }} KRW</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mx-auto">
            {% if object_list.paginator.num_pages > 1 %}
            <hr>
            <div class="text-center">
                {% for pg in object_list.paginator.page_range %}
                    <a href="?page={{ pg }}" class="btn btn-light btn-sm {% if object_list.number == pg %}active{% endif %}">{{ pg }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <br>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>

$(function(){

    var testSession = "ses";


    $(".testDiv > a").on( "click", function(event) {

        if(testSession=="ses"){

        }
        else{
            alert("로그인을 해주세요");
            event.preventDefault();
        }
    });


})


</script>
{% endblock %}